---
import { Col, Image, Row, Stack } from 'react-bootstrap';
import { theme } from '../utils/theme';
const points = [
    {
        image: "active-energy",
        text: "Active Energy",
    },
    {
        image: "healthy-digestion",
        text: "Healthy Digestion",
    },
    {
        image: "natural-ingredients",
        text: "Made with Natural Ingredients",
    },
    {
        image: "immune-health",
        text: "Immune Health",
    }
];
---

{theme.id === 'wild-paw' ? (
    <div class="info">
        <style lang="scss">
            @import "../../src/styles/wild-paw/components/info.scss";
        </style>
        <Row>
            {points.map((point, i) =>
                <Col xs={12} md={3} key={i}>
                    <Stack gap={3} className="align-items-center">
                        <img src={`/${theme.id}/info/${point.image}.svg`} />
                        <span class="lead">{point.text}</span>
                    </Stack>
                </Col>
            )}
        </Row>
    </div>
) : (
    <div class="info">
        <style lang="scss">
            @import "../../src/styles/peggys-pantry/components/info.scss";
        </style>
        <Row>
            <Col xs={12}>
                <ul>
                    <li>For dogs of all sizes</li>
                    <li>Protein packed reward</li>
                    <li>Simple, natural, delicious</li>
                    <li>No artificial preservatives</li>
                </ul>
            </Col>
            <Col xs={6}>
                <Image fluid src={`/${theme.id}/info/dog.webp`} />
            </Col>
            <Col xs={6}>
                <Image fluid src={`/${theme.id}/info/beef.webp`} />
            </Col>
        </Row>
    </div>
)}
