---
import Slides from './Slides';
import { theme } from '../utils/theme';

let title = "6 Paw-licking good flavours";
let slides = [
    {
        url: "#",
        image: `${theme.id}/products/air-dried-duck-fillets.webp`
    },
    {
        url: "#",
        image: `${theme.id}/products/chicken-and-codfish-rolls.webp`
    },
    {
        url: "#",
        image: `${theme.id}/products/chicken-bone-wraps-with-a-crunch.webp`
    },
    {
        url: "#",
        image: `${theme.id}/products/grilled-chicken-jerky.webp`
    },
    {
        url: "#",
        image: `${theme.id}/products/oven-baked-chicken-sausages.webp`
    },
    {
        url: "#",
        image: `${theme.id}/products/slow-roasted-lamb-strips.webp`
    }
];

if (theme.id === 'wild-paw') {
    title = "Browse the range";
    slides = [
        {
            url: "#",
            image: "/test-packaging.webp",
            name: "Beef"
        },
        {
            url: "#",
            image: "/test-packaging.webp",
            name: "Chicken"
        },
        {
            url: "#",
            image: "/test-packaging.webp",
            name: "Kangaroo"
        }
    ];
}
---

<div class="products">
    <h3 class="text-center">{title}</h3>
    <Slides
        slides={slides}
        client:visible
    />
</div>
