---
import Slides from './Slides';
import { theme } from '../utils/theme';

let title = "6 Paw-licking good flavours";
let slides = [
    {
        url: "#",
        image: `${import.meta.env.BASE_URL}/${theme.id}/products/air-dried-duck-fillets.webp`
    },
    {
        url: "#",
        image: `${import.meta.env.BASE_URL}/${theme.id}/products/chicken-and-codfish-rolls.webp`
    },
    {
        url: "#",
        image: `${import.meta.env.BASE_URL}/${theme.id}/products/chicken-bone-wraps-with-a-crunch.webp`
    },
    {
        url: "#",
        image: `${import.meta.env.BASE_URL}/${theme.id}/products/grilled-chicken-jerky.webp`
    },
    {
        url: "#",
        image: `${import.meta.env.BASE_URL}/${theme.id}/products/oven-baked-chicken-sausages.webp`
    },
    {
        url: "#",
        image: `${import.meta.env.BASE_URL}/${theme.id}/products/slow-roasted-lamb-strips.webp`
    }
];

if (theme.id === 'wild-paw') {
    title = "Browse the range";
    slides = [
        {
            
            
            url: `https://petdirect.co.nz/p/wild-paw-adult-beef-dry-dog-food/`,
            image: `${import.meta.env.BASE_URL}/${theme.id}/products/beef.webp`,
            name: "Beef"
        },
        {
            url: `https://petdirect.co.nz/p/wild-paw-adult-chicken-dry-dog-food/`,
            image: `${import.meta.env.BASE_URL}/${theme.id}/products/chicken.webp`,
            name: "Chicken"
        },
        {
            url: `https://petdirect.co.nz/p/wild-paw-adult-active-kangaroo-dry-dog-food/`,
            image: `${import.meta.env.BASE_URL}/${theme.id}/products/kangaroo.webp`,
            name: "Active"
        }
    ];
}

if (theme.id === 'calibre') {
    title = "Shop our products";
    slides = [];
}
---

<div class="products">
    <h3 class="section-heading">{title}</h3>
    <Slides
        slides={slides}
        client:visible
    />
</div>
